.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.0625rem;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    width: calc(100% - 24px * 2);
    margin-left: 24px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 424px) {
  .place__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    width: calc(100% - 16px * 2);
    margin-left: 16px;
  }
}
