.page {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 48px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: white;
}

@media screen and (max-width: 1023px) {
  .page {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 424px) {
  .page {
    padding-top: 16px;
  }
}
