.comment__author {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .comment__author {
    margin-top: 16px;
  }
}
