@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__img-container/lead__img-container.css);
@import url(__image/lead__image.css);
@import url(__caption/lead__caption.css);

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 48px * 2);
  max-width: 984px;
  margin: 0 auto;
  padding-top: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}
