.cover__subtitle {
  z-index: 2;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
  margin-bottom: 48px;
  margin-top: auto;
  max-width: 382px;
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}

@media screen and (max-width: 424px) {
  .cover__subtitle {
    margin-bottom: 24px;
    max-width: calc(100% - 16px * 2);
  }
}
