@import url(__lang/header__lang.css);
@import url(__lang/_active/header__lang_active.css);
@import url(__logo/header__logo.css);

.header {
  display: flex;
  align-items: flex-end;
  width: calc(100% - 48px * 2);
  max-width: calc(1280px - 48px * 2);
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 424px) {
  .header {
    max-width: calc(100% - 16px * 2);
  }
}
