.lead__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 5.8125rem;
  max-width: 782px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;
}

@media screen and (max-width: 1023px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    width: calc(100% - 16px * 2);
  }
}

@media screen and (max-width: 424px) {
  .lead__title {
    margin-bottom: 16px;
  }
}
