.video__duration {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.8125rem;
  letter-spacing: 0.3rem;
  margin: 0;
  margin-left: 30px;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .video__duration {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .video__duration {
    margin-left: 30px;
  }
}

@media screen and (max-width: 424px) {
  .video__duration {
    margin-left: 24px;
  }
}

@media screen and (max-width: 374px) {
  .video__duration {
    margin-left: 16px;
  }
}
