@import url(__image/comment__image.css);
@import url(__author/comment__author.css);
@import url(__quote/comment__quote.css);
@import url(__quote-text/comment__quote-text.css);

.comment {
  flex: 1;
  max-width: 382px;
  max-width: calc((928px - 19px * 2) / 3);
}

@media screen and (max-width: 1023px) {
  .comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 382px;
    padding-bottom: 48px;
  }

  .comment:last-of-type {
    padding-bottom: 0;
  }
}
