.video__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.4375rem;
  max-width: 322px;
  margin-top: 12px;
  margin-bottom: 18px;
  margin-left: 30px;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .video__title {
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 24px;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 767px) {
  .video__title {
    margin-top: 12px;
    margin-bottom: 18px;
    margin-left: 30px;
    font-size: 2.25rem;
    line-height: 2.4375rem;
  }
}

@media screen and (max-width: 424px) {
  .video__title {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 24px;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}

@media screen and (max-width: 374px) {
  .video__title {
    margin-left: 16px;
  }
}
