.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  max-width: 636px;
  margin-top: 11px;
  margin-bottom: 0;
  align-self: flex-start;
}

@media screen and (max-width: 1279px) {
  .lead__caption {
    margin-top: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 424px) {
  .lead__caption {
    margin-top: 8px;
    margin-left: 16px;
  }
}
