.cover__title {
  z-index: 2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.875rem;
  text-align: center;
  margin-top: 274px;
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin-top: 211px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    max-width: 720px;
    margin-top: 165px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    max-width: calc(100% - 16px * 2);
  }
}

@media screen and (max-width: 424px) {
  .cover__title {
    margin-top: 104px;
  }
}

@media screen and (max-width: 374px) {
  .cover__title {
    margin-top: 64px;
  }
}
