@import url(__title/place__title.css);
@import url(__website/place__website.css);
@import url(__url-heading/place__url-heading.css);
@import url(__url/place__url.css);
@import url(__image/place__image.css);
@import url(__text/place__text.css);
@import url(__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  row-gap: 60px;
  padding-bottom: 72px;
  box-sizing: border-box;
  width: 100%;
}

.place:last-of-type {
  padding-bottom: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    column-gap: 32px;
    row-gap: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 0;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 424px) {
  .place {
    padding-bottom: 48px;
    width: 100%;
  }
}
