@import url(__list/footer__list.css);
@import url(__list-item/footer__list-item.css);
@import url(__link/footer__link.css);
@import url(__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 48px * 2);
  max-width: calc(1280px - 48px * 2);
  margin: 0 auto;
  padding-top: 160px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 24px * 2);
    padding-top: 102px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    width: calc(100% - 16px * 2);
    padding-top: 64px;
  }
}
