.place__website {

}

@media screen and (max-width: 767px) {
  .place__website {
    width: calc(100% - 24px * 2);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 424px) {
  .place__website {
    display: none;
  }
}
