.video__container {
  display: flex;
  width: 100%;
  padding-top: 72px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .video__container {
    padding-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .video__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .video__container {
    padding-top: 24px;
  }
}
