.intro__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.6875rem;
  max-width: 683px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    max-width: 692px;
  }
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}
